# Ignore everything
*

# Don't ignore git settings
!*.gitignore
!*.gitmodules
!*.gitattributes

# Don't ignore special files
!*.md
!*.rst
!*.in
!*.yml
!LICENSE

# Don't ignore subdirectories
!*/

# Don't ignore python
!*.py

# Don't ignore requirements.txt
!requirements.txt

# Don't ignore select scripts
!scripts/makeNewConfig.sh
!scripts/setup_gemdaq.sh

# Don't ignore build config directory
!config

# Don't ignore CI directory
!.ci

# Don't ignore github directory
!.github
