# common function calls
alias ll='ls -lhtr'
alias rm='mv -t "$@" ~/.Trash'

# GEM DAQ function calls
alias gbtProgrammer='java -jar /data/bigdisk/sw/GBTx_programmer/programmerv2.20180116.jar'
alias editConfig='vim /home/gemuser/gemdaq/config/system_specific_constants.py'
alias calibrateArmDac.sh='. /home/gemuser/gemdaq/sw_utils/scripts/calibrateArmDac.sh'

# ROOT calls
alias root="root -l"
